@model Microsoft.AspNetCore.Mvc.ViewFeatures.ViewDataDictionary

<h1 class="text-danger">An error occurred.</h1>
<p>@ViewData["ErrorMessage"]</p>
<a asp-action="Index" asp-controller="Home" class="btn btn-primary">Back to Home</a>
