@model IEnumerable<CategoryOutputModel>

<h2>Categories</h2>
<a href="@Url.Action("Create")" class="btn btn-primary">Create New Category</a>
<table class="table mt-3">
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Name</td>
                <td>
                    <a href="@Url.Action("Edit", new { id = category.Id })" class="btn btn-warning">Edit</a>
                    <a href="@Url.Action("Delete", new { id = category.Id })" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
