@model ErrorViewModel
@{
    ViewData["Title"] = "Page Not Found";
}

<div style="text-align: center; margin-top: 50px;">
    <img src="https://media.licdn.com/dms/image/v2/C5112AQEw1fXuabCTyQ/article-inline_image-shrink_1500_2232/article-inline_image-shrink_1500_2232/0/1581099611064?e=1739404800&v=beta&t=kXMo90O0T_iDx3PxT8nw3lxIuCtoUte4-SUxk2ZEciY"
         alt="404 Illustration"
         style="max-width: 100%; height: auto; margin: 20px auto;" />
    <a href="@Url.Action("Index", "Home")" style="display: inline-block; margin-top: 20px; font-size: 18px; text-decoration: none; color: #007bff;">
        Return to Home
    </a>
</div>